In [1]:
%load_ext autotime
#Web extractor
from selenium import webdriver
from selenium.webdriver.support.wait import WebDriverWait
from selenium.common.exceptions import NoSuchElementException
from bs4 import BeautifulSoup as BSoup

#Loop
import time

import pandas as pd
import numpy as np
import json
import datetime

# classi HTML degli elementi da prendere
classHotel = 'sr_item_content sr_item_content_slider_wrapper '
classNome = 'sr-hotel__name'
classCity = ' jq_tooltip district_link visited_link '
classLastbooking = 'rollover-s1 lastbooking'
classRoom = 'room_link'
classPrice = 'bui-price__weight-fix'
classLastPage = 'bui-pagination__item sr_pagination_item'
classRowRoom = 'roomrow entire_row_clickable'
classMaxperson = 'sr_max_occupancy sr_max_occ--inline'
xpathNextPage = '//*[@id="search_results_table"]/div[5]/div[1]/ul/li[3]/a'

In [8]:
options = webdriver.ChromeOptions()
options.add_argument('--incognito') # usa modalità in incognito
options.add_experimental_option('prefs', {"profile.managed_default_content_settings.images": 2}) # non carica le immagini

driver = webdriver.Chrome(executable_path=r'C:/Users/loren/Documents/Scraping/chromedriver.exe', chrome_options=options)
url1 = 'https://www.booking.com/searchresults.en-gb.html?label=gen173nr-1DCAEoggJCAlhYSAlYBGhxiAEBmAEuwgEKd2luZG93cyAxMMgBD9gBA-gBAfgBApICAXmoAgM&sid=ec27a36aed44df134883ce3bf5a77299&'
url2 = '&class_interval=1&dest_id=1706&dest_type=region&dtdisc=0&from_sf=1&group_adults=2&group_children=0&inac=0&index_postcard=0&label_click=undef&no_rooms=1&postcard=0&raw_dest_type=region&room1=A%2CA&sb_price_type=total&search_selected=1&src=index&ss=England%2C United Kingdom&ss_all=0&ss_raw=eng&ssb=empty&sshis=0&nflt=ht_id%3D204%3B&rsf=ht_id-204&lsf=ht_id|204|5011&percent_htype_hotel=1&update_av=1'

time: 15.7 s

Creo dataset

In [3]:
hotelperpagina = 15

# creo un dataset con tante righe quanto gli hotel della città
HotelCity = pd.DataFrame(index = range(1800000), columns = ['Hotel', 'City', 'Room', 'Max Guests', 'Price','Room reinforcements',
                                                            'Check-in Date', 'Booking in last 6 hours', 'Scraping Date'])

time: 749 ms

In [6]:
k=0 # inizializzo indice dataset

time: 999 µs

In [9]:
# creo una lista con le date ogni 3 giorni da oggi (Scraping date) fino a tra un anno
for date in [(datetime.date.today() + datetime.timedelta(1)) + datetime.timedelta(n) for n in range(0, 365, 3)]:
    # costruisco url in base a checkin e checkout
    checkinmonth = 'checkin_month=' + str(date.month)
    checkinday = '&checkin_monthday=' + str(date.day)
    checkinyear = '&checkin_year=' + str(date.year)
    checkoutmonth = '&checkout_month=' + str((date + datetime.timedelta(3)).month)
    checkoutday = '&checkout_monthday=' + str((date + datetime.timedelta(3)).day)
    checkoutyear = '&checkout_year=' + str((date + datetime.timedelta(3)).year)
    HomePage = url1 + checkinmonth + checkinday + checkinyear + checkoutmonth + checkoutday + checkoutyear + url2
    driver.get(HomePage)

    htmlHome = BSoup(driver.page_source, 'html.parser') # scarico codice HTML
    pages = htmlHome.findAll('li', {'class':classLastPage}) # trovo l'elemento contenente l'ultima pagina per ciclo successivo
    lastPage = int(pages[-1].text[1:-1])
    for i in range(0, (lastPage-1)*hotelperpagina, hotelperpagina):
        # ciclo for basato su &offset (parte finale dell'url) che indica il numero dell'ultimo hotel della pagina precedente
        driver.get(HomePage+'&offset='+str(i))
        html = BSoup(driver.page_source, 'html.parser')
        Hotels = html.findAll('div', {'class':classHotel}) # trovo tutti i blocchi hotel nella pagina
        for el in Hotels: # ciclo for sulla lista di hotel
            HotelCity['Hotel'][k] = el.find('span', {'class':classNome}).text[1:-1] # trovo nome Hotel
            if ',' in el.find('a', {'class':classCity}).text[2:-14] # in alcuni casi è presente , se inserito anche quartiere
                HotelCity['City'][k] = el.find('a', {'class':classCity}).text[2:-14].split(', ')[1]
            else: # trovo nome Città
                HotelCity['City'][k] = el.find('a', {'class':classCity}).text[2:-14]
            try:
                HotelCity['Booking in last 6 hours'][k] = int(el.find('div', {'class':classLastbooking}).text.split()[1])
            except AttributeError: # trovo le prenotazione nelle ultime 6 ore (non sempre presente)
                pass
            HotelCity['Scraping Date'][k] = datetime.date.today()
            HotelCity['Check-in Date'][k] = date
            try:
                HotelCity['Room'][k] = el.find('span', {'class':classRoom}).text[1:-2].split('\n\n\n\n\n')[0] # trovo stanza
                HotelCity['Max Guests'][k] = int(el.find('div', {'class':classMaxperson}).text[1:-1].split()[-1]) # trovo n ospiti
                HotelCity['Price'][k] = float(el.find('tr', {'class':classRowRoom}).find('strong').text[4:-2].replace(',',''))
                # vado a prendere il prezzo dentro la riga della stanza e trovando l'unico oggetto strong
                try:
                    HotelCity['Room reinforcements'][k] = [a.text[1:-1] for a in el.findAll('sup')] # trovo optionals per la stanza
                except AttributeError:
                    pass
            except AttributeError:
                pass
            k=k+1
            
        if i in range(150, (lastPage-1)*hotelperpagina, hotelperpagina*10):
            driver.quit()
            driver = webdriver.Chrome(executable_path=r'C:/Users/loren/Documents/Scraping/chromedriver.exe', chrome_options=options)
            # chiudo e riapro il browser perchè consuma pian piano tutta la RAM
driver.quit()

time: 12h 32min 47s

# Controllo file

In [21]:
print(date, i, k-1, HotelCity.iloc[k-1])

2018-07-10 375 6034 Hotel                                               Heath Lodge Hotel nr NEC
City                                                              Bickenhill
Room                                                             Double Room
Max Guests                                                                 2
Price                                                                    210
Room reinforcements        [Breakfast included, FREE cancellation, No pre...
Check-in Date                                                     2018-07-10
Booking in last 6 hours                                                    7
Scraping Date                                                     2018-07-04
Name: 6034, dtype: object
time: 2.98 ms

## Controllo se ci sono righe con almeno un valore nullo

In [34]:
HotelCity[HotelCity.isnull().any(axis=1)]

,Hotel,City,Room,Price,Check-in Date,Booking in last 6 hours,Scraping Date
1,Holiday Inn Express Kettering Corby,Kettering,Family Room,373,2018-07-04,NaN,2018-07-04
2,The Clarence Boutique Hotel,Portsmouth,NaN,NaN,2018-07-04,NaN,2018-07-04
3,The Stafford London,London,Double Room,1387,2018-07-04,NaN,2018-07-04
5,Holiday Inn Express London - Epsom Downs,Epsom,Twin Room,481,2018-07-04,NaN,2018-07-04
6,Holiday Inn Express Birmingham Redditch,Redditch,Double Room,227,2018-07-04,NaN,2018-07-04
7,Holiday Inn Express Harlow,Harlow,Twin/Double Room,264,2018-07-04,NaN,2018-07-04
9,The Bear,Bath,NaN,NaN,2018-07-04,NaN,2018-07-04
13,Holiday Inn Express Peterborough,Peterborough,Double Room,377,2018-07-04,NaN,2018-07-04
18,Park Plaza Victoria London,London,Twin Room,993,2018-07-04,NaN,2018-07-04
19,The Bear,Bath,NaN,NaN,2018-07-04,NaN,2018-07-04
22,Hallmark Inn Derby,Derby,Twin Room,209,2018-07-04,NaN,2018-07-04
26,Cranfield Management Development Centre,Cranfield,NaN,NaN,2018-07-04,NaN,2018-07-04
27,Holiday Inn Express Stafford M6 Junction 13,Stafford,Twin Room,259,2018-07-04,NaN,2018-07-04
30,Holiday Inn Express Liverpool-Knowsley,Knowsley,Twin Room,257,2018-07-04,NaN,2018-07-04
34,Holiday Inn Express Middlesbrough - Centre Square,Middlesbrough,Double Room,288,2018-07-04,NaN,2018-07-04
36,Cranfield Management Development Centre,Cranfield,NaN,NaN,2018-07-04,NaN,2018-07-04
38,Holiday Inn Express Portsmouth Gunwharf Quays,Portsmouth,Twin/Double Room,619,2018-07-04,NaN,2018-07-04
43,Florence House Boutique Hotel and Restaurant,Portsmouth,NaN,NaN,2018-07-04,NaN,2018-07-04
51,Blue Bell Lodge Hotel,Middlesbrough,Twin Room,170,2018-07-04,NaN,2018-07-04
53,Florence House Boutique Hotel and Restaurant,Portsmouth,NaN,NaN,2018-07-04,NaN,2018-07-04
54,Park Plaza Sherlock Holmes London,London,Double Room,1038,2018-07-04,NaN,2018-07-04
58,Brookside Hotel & Restaurant,Chester,Double Room,307,2018-07-04,NaN,2018-07-04
59,Holiday Inn Express Leeds City Centre,Leeds,Twin Room,309,2018-07-04,NaN,2018-07-04
60,The Borough Lancaster,Lancaster,NaN,NaN,2018-07-04,NaN,2018-07-04
61,Holiday Inn Swindon,Swindon,Twin Room,347,2018-07-04,NaN,2018-07-04
63,Bristol Marriott Hotel City Centre,Bristol,Double Room,432,2018-07-04,NaN,2018-07-04
65,Holiday Inn London Luton Airport,Luton,Twin Room,456,2018-07-04,NaN,2018-07-04
68,The White Buck,Burley,Double Room,457,2018-07-04,NaN,2018-07-04
69,Twin Oaks Hotel,Palterton,Suite,373,2018-07-04,NaN,2018-07-04
70,The Borough Lancaster,Lancaster,NaN,NaN,2018-07-04,NaN,2018-07-04
...,...,...,...,...,...,...,...
1799970,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799971,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799972,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799973,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799974,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799975,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799976,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799977,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799978,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799979,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799981,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799982,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799983,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799984,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799985,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799986,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799987,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799988,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799989,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799991,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799992,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799993,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799994,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799995,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799997,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799998,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1799999,NaN,NaN,NaN,NaN,NaN,NaN,NaN

time: 1.88 s

Elimino righe con tutti valori nulli

In [ ]:
Hotel.drop_duplicates(how='all', keep=False, inplace=True)
HotelCity.reset_index(drop=True, inplace=True)

Aggiungo colonna ID

In [36]:
HotelCity['ID'] = HotelCity['Hotel'] + '_' + HotelCity['City']

time: 1.38 s

## Controllo hotel ripetuti

In [39]:
countH = HotelCity.groupby(['Check-in Date', 'ID'], as_index=False).size().to_frame('Count').sort_values(by='Count', ascending=False)
doubleH = countH[countH['Count'] > 1]
doubleH

                                                                  Count
Check-in Date ID
2018-07-06    The Saracens Head Hotel_Great Dunmow                    3
2018-07-07    The Black Swan Inn_Norwich                              3
2018-07-06    Milton Hilltop Hotel_Carlisle                           3
2018-07-07    Best Western Victoria Palace_London                     3
              The Ancient Gatehouse_Wells                             3
2018-07-04    The Queens Hotel_Penzance                               3
2018-07-05    De Vere Jubilee Conference Centre_Nottingham            3
2018-07-09    Ely Hotel_Yateley                                       2
              Florence House Boutique Hotel and Restaurant_Po...      2
2018-07-06    Holiday Inn Express Harlow_Harlow                       2
              Holiday Inn Express Folkestone Channel Tunnel_F...      2
2018-07-04    The Chequers Hotel_Newbury                              2
              The Devon Hotel_Exeter                                  2
2018-07-06    Holiday Inn Express Braintree_Braintree                 2
2018-07-04    The Countryman's Inn_Hunton                             2
2018-07-09    Crowne Plaza Stratford-upon-Avon_Stratford-upon...      2
2018-07-04    The Heritage Hotel_Torquay                              2
              The Kings Arms and Royal Hotel – RelaxInnz_Goda...      2
              The Kings Arms_Fernhurst                                2
2018-07-07    Regent Hotel By The Lake_Ambleside                      2
2018-07-04    The Borough Lancaster_Lancaster                         2
              The Black Horse Inn_Canterbury                          2
              The Lawn Hotel_Reading                                  2
2018-07-06    Holiday Inn Express Manchester City Centre Aren...      2
              Holiday Inn Express Swindon City Centre_Swindon         2
2018-07-07    Milton Hilltop Hotel_Carlisle                           2
2018-07-04    Shiray Hotel_Blackpool                                  2
              Sorrento Hotel & Restaurant_Cambridge                   2
2018-07-07    Mountview Hotel Express_Saint Helier Jersey             2
2018-07-09    Highfield Hotel_Houghton le Spring                      2
...                                                                 ...
              The Chequers Hotel_Newbury                              2
2018-07-04    Bell_Thetford                                           2
2018-07-07    Bridge Hotel_Greenford                                  2
2018-07-09    Village Hotel London Watford_Elstree                    2
              The Borough Lancaster_Lancaster                         2
2018-07-06    Twinwoods Guestrooms_Milton Ernest                      2
2018-07-07    Florence House Boutique Hotel and Restaurant_Po...      2
2018-07-09    The Dovecote Inn_Laxton                                 2
2018-07-06    citizenM London Shoreditch_London                       2
              The Fox Inn Lower Oddington_Adlestrop                   2
              The Lawn Hotel_Reading                                  2
2018-07-09    The Western Hotel_St Ives                               2
2018-07-07    Bristol Marriott Hotel City Centre_Bristol              2
              Brookside Hotel & Restaurant_Chester                    2
2018-07-04    Doubletree By Hilton Hull_Hull                          2
2018-07-09    The White Hart Hotel_Welwyn                             2
              The Crown Hotel_Harrogate                               2
              The Kings Head Hotel_Great Bircham                      2
2018-07-04    Ely Hotel_Yateley                                       2
2018-07-06    The Arthouse Hotel_Liverpool                            2
              The Porterhouse grill & rooms_Oxford                    2
2018-07-07    Darlington Arms_Redhill                                 2
2018-07-04    Cranfield Management Development Centre_Cranfield       2
2018-07-09    The Manor at Weston On The Green_Weston on the ...      2
              The Park Hotel_Barnstaple                               2
2018-07-06    The Temple Inn_Temple Cloud                             2
              The Swan at Stoford_Salisbury                           2
              The Bear_Bath                                           2
2018-07-07    Crowne Plaza Stratford-upon-Avon_Stratford-upon...      2
2018-07-04    Country Living Hotel St George, Harrogate_Harro...      2

[395 rows x 1 columns]

time: 234 ms

Trovare indici degli hotel ripetuti

In [41]:
doppioni = Hotel[Hotel.duplicated(subset=['ID', 'Check-in Date'], keep=False)].sort_values('ID')
doppioni

C:\Users\loren\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  after removing the cwd from sys.path.

,Booking in last 6 hours,Check-in Date,City,Hotel,ID,Max Guests,Price,Room,Room reinforcements,Scraping Date
893,NaN,2018-07-04,Great Dunmow,The Saracens Head Hotel,The Saracens Head Hotel_Great Dunmow,NaN,NaN,NaN,NaN,2018-07-04
903,NaN,2018-07-04,Great Dunmow,The Saracens Head Hotel,The Saracens Head Hotel_Great Dunmow,NaN,NaN,NaN,NaN,2018-07-04
3120,NaN,2018-07-06,Great Dunmow,The Saracens Head Hotel,The Saracens Head Hotel_Great Dunmow,NaN,NaN,NaN,NaN,2018-07-04
3137,NaN,2018-07-06,Great Dunmow,The Saracens Head Hotel,The Saracens Head Hotel_Great Dunmow,NaN,NaN,NaN,NaN,2018-07-04
3147,NaN,2018-07-06,Great Dunmow,The Saracens Head Hotel,The Saracens Head Hotel_Great Dunmow,NaN,NaN,NaN,NaN,2018-07-04
4480,NaN,2018-07-07,Great Dunmow,The Saracens Head Hotel,The Saracens Head Hotel_Great Dunmow,NaN,NaN,NaN,NaN,2018-07-04
4854,NaN,2018-07-08,Great Dunmow,The Saracens Head Hotel,The Saracens Head Hotel_Great Dunmow,NaN,NaN,NaN,NaN,2018-07-04
4864,NaN,2018-07-08,Great Dunmow,The Saracens Head Hotel,The Saracens Head Hotel_Great Dunmow,NaN,NaN,NaN,NaN,2018-07-04
1879,NaN,2018-07-05,Norwich,The Black Swan Inn,The Black Swan Inn_Norwich,NaN,NaN,NaN,NaN,2018-07-04
1889,NaN,2018-07-05,Norwich,The Black Swan Inn,The Black Swan Inn_Norwich,NaN,NaN,NaN,NaN,2018-07-04
4344,NaN,2018-07-07,Norwich,The Black Swan Inn,The Black Swan Inn_Norwich,NaN,NaN,NaN,NaN,2018-07-04
4361,NaN,2018-07-07,Norwich,The Black Swan Inn,The Black Swan Inn_Norwich,NaN,NaN,NaN,NaN,2018-07-04
4371,NaN,2018-07-07,Norwich,The Black Swan Inn,The Black Swan Inn_Norwich,NaN,NaN,NaN,NaN,2018-07-04
4731,NaN,2018-07-08,Norwich,The Black Swan Inn,The Black Swan Inn_Norwich,NaN,317,Double Room,NaN,2018-07-04
5953,NaN,2018-07-09,Norwich,The Black Swan Inn,The Black Swan Inn_Norwich,NaN,305,Double Room,NaN,2018-07-04
1063,NaN,2018-07-04,Carlisle,Milton Hilltop Hotel,Milton Hilltop Hotel_Carlisle,NaN,NaN,NaN,NaN,2018-07-04
1073,NaN,2018-07-04,Carlisle,Milton Hilltop Hotel,Milton Hilltop Hotel_Carlisle,NaN,NaN,NaN,NaN,2018-07-04
1505,NaN,2018-07-05,Carlisle,Milton Hilltop Hotel,Milton Hilltop Hotel_Carlisle,NaN,NaN,NaN,NaN,2018-07-04
1515,NaN,2018-07-05,Carlisle,Milton Hilltop Hotel,Milton Hilltop Hotel_Carlisle,NaN,NaN,NaN,NaN,2018-07-04
3103,NaN,2018-07-06,Carlisle,Milton Hilltop Hotel,Milton Hilltop Hotel_Carlisle,NaN,NaN,NaN,NaN,2018-07-04
3113,NaN,2018-07-06,Carlisle,Milton Hilltop Hotel,Milton Hilltop Hotel_Carlisle,NaN,NaN,NaN,NaN,2018-07-04
3130,NaN,2018-07-06,Carlisle,Milton Hilltop Hotel,Milton Hilltop Hotel_Carlisle,NaN,NaN,NaN,NaN,2018-07-04
4259,NaN,2018-07-07,Carlisle,Milton Hilltop Hotel,Milton Hilltop Hotel_Carlisle,NaN,NaN,NaN,NaN,2018-07-04
4269,NaN,2018-07-07,Carlisle,Milton Hilltop Hotel,Milton Hilltop Hotel_Carlisle,NaN,NaN,NaN,NaN,2018-07-04
4535,2,2018-07-08,Carlisle,Milton Hilltop Hotel,Milton Hilltop Hotel_Carlisle,NaN,187,Double Room,NaN,2018-07-04
6452,NaN,2018-07-09,Carlisle,Milton Hilltop Hotel,Milton Hilltop Hotel_Carlisle,NaN,NaN,NaN,NaN,2018-07-04
6462,NaN,2018-07-09,Carlisle,Milton Hilltop Hotel,Milton Hilltop Hotel_Carlisle,NaN,NaN,NaN,NaN,2018-07-04
1123,2,2018-07-05,London,Best Western Victoria Palace,Best Western Victoria Palace_London,NaN,757,Double Room,NaN,2018-07-04
2248,2,2018-07-06,London,Best Western Victoria Palace,Best Western Victoria Palace_London,NaN,651,Double Room,NaN,2018-07-04
3369,2,2018-07-07,London,Best Western Victoria Palace,Best Western Victoria Palace_London,NaN,659,Double Room,NaN,2018-07-04
...,...,...,...,...,...,...,...,...,...,...
9,NaN,2018-07-04,Bath,The Bear,The Bear_Bath,NaN,NaN,NaN,NaN,2018-07-04
19,NaN,2018-07-04,Bath,The Bear,The Bear_Bath,NaN,NaN,NaN,NaN,2018-07-04
1124,NaN,2018-07-05,Bath,The Bear,The Bear_Bath,NaN,NaN,NaN,NaN,2018-07-04
2253,NaN,2018-07-06,Bath,The Bear,The Bear_Bath,NaN,NaN,NaN,NaN,2018-07-04
2263,NaN,2018-07-06,Bath,The Bear,The Bear_Bath,NaN,NaN,NaN,NaN,2018-07-04
3375,NaN,2018-07-07,Bath,The Bear,The Bear_Bath,NaN,NaN,NaN,NaN,2018-07-04
3385,NaN,2018-07-07,Bath,The Bear,The Bear_Bath,NaN,NaN,NaN,NaN,2018-07-04
4497,NaN,2018-07-08,Bath,The Bear,The Bear_Bath,NaN,NaN,NaN,NaN,2018-07-04
4507,NaN,2018-07-08,Bath,The Bear,The Bear_Bath,NaN,NaN,NaN,NaN,2018-07-04
5619,NaN,2018-07-09,Bath,The Bear,The Bear_Bath,NaN,NaN,NaN,NaN,2018-07-04
5629,NaN,2018-07-09,Bath,The Bear,The Bear_Bath,NaN,NaN,NaN,NaN,2018-07-04
33,3,2018-07-04,Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon_Stratford-upo...,NaN,464,Twin/Double Room,NaN,2018-07-04
1641,NaN,2018-07-05,Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon_Stratford-upo...,NaN,NaN,NaN,NaN,2018-07-04
1651,NaN,2018-07-05,Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon_Stratford-upo...,NaN,NaN,NaN,NaN,2018-07-04
2661,NaN,2018-07-06,Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon_Stratford-upo...,NaN,NaN,NaN,NaN,2018-07-04
2671,NaN,2018-07-06,Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon_Stratford-upo...,NaN,NaN,NaN,NaN,2018-07-04
3715,NaN,2018-07-07,Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon_Stratford-upo...,NaN,NaN,NaN,NaN,2018-07-04
3725,NaN,2018-07-07,Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon_Stratford-upo...,NaN,NaN,NaN,NaN,2018-07-04
4509,5,2018-07-08,Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon_Stratford-upo...,NaN,338,Twin Room,NaN,2018-07-04
5738,NaN,2018-07-09,Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon_Stratford-upo...,NaN,NaN,NaN,NaN,2018-07-04
5748,NaN,2018-07-09,Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon,Crowne Plaza Stratford-upon-Avon_Stratford-upo...,NaN,NaN,NaN,NaN,2018-07-04
485,NaN,2018-07-04,Harrogate,"Country Living Hotel St George, Harrogate","Country Living Hotel St George, Harrogate_Harr...",NaN,NaN,NaN,NaN,2018-07-04
495,NaN,2018-07-04,Harrogate,"Country Living Hotel St George, Harrogate","Country Living Hotel St George, Harrogate_Harr...",NaN,NaN,NaN,NaN,2018-07-04
1539,NaN,2018-07-05,Harrogate,"Country Living Hotel St George, Harrogate","Country Living Hotel St George, Harrogate_Harr...",NaN,NaN,NaN,NaN,2018-07-04
1549,NaN,2018-07-05,Harrogate,"Country Living Hotel St George, Harrogate","Country Living Hotel St George, Harrogate_Harr...",NaN,NaN,NaN,NaN,2018-07-04
2262,2,2018-07-06,Harrogate,"Country Living Hotel St George, Harrogate","Country Living Hotel St George, Harrogate_Harr...",NaN,274,Double Room,NaN,2018-07-04
3413,2,2018-07-07,Harrogate,"Country Living Hotel St George, Harrogate","Country Living Hotel St George, Harrogate_Harr...",NaN,455,Double Room,NaN,2018-07-04
5262,NaN,2018-07-08,Harrogate,"Country Living Hotel St George, Harrogate","Country Living Hotel St George, Harrogate_Harr...",NaN,NaN,NaN,NaN,2018-07-04
5272,NaN,2018-07-08,Harrogate,"Country Living Hotel St George, Harrogate","Country Living Hotel St George, Harrogate_Harr...",NaN,NaN,NaN,NaN,2018-07-04
6547,NaN,2018-07-09,Harrogate,"Country Living Hotel St George, Harrogate","Country Living Hotel St George, Harrogate_Harr...",NaN,NaN,NaN,NaN,2018-07-04

time: 15.6 s

# Salvataggio File

In [10]:
HotelCity.to_csv('Dataset Hotel\HotelPrice.csv', sep=';', index=False)

time: 5.69 s